* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    color: #2c2c2c;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

/* For Desktop */

.container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.adaptive-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
}

.header-navigation {
    display: flex;
    justify-content: flex-end;
}

.header-navigation-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
}

.header-navigation-link {
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.header-navigation-link.active {
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #BBF330;
}

.container.adaptive-container {
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
    background: #FEFEFE;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    text-decoration: underline;
    color: #bbf330;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button {
    font-size: 13px;
    font-weight: 500;
    border-radius: 30px;
    padding: 6px 17px;
    background: #bbf330;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;  
}